<body class="text-center"
      background="Imagenes/fondo3.jpg">
    <head>
        <title>
            CoffeLove - Crear sesión
        </title>
        <!-- ---------------------------------------------------------  Bootstrap  -------------------------------------------------------- -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
        </script>
        <!-- ------------------- JS ------------------- -->
        <script src="JS/crear_sesion.js" 
                type="text/javascript">
        </script>
        <!-- ------------------- -- ------------------- -->
        <meta http-equiv="Content-Type"
              content="text/html; charset=UTF-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" 
                integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" 
                crossorigin="anonymous">
        </script>
        <!-- ---------------------------------------------------------  ---------  -------------------------------------------------------- -->
        <!-- ---------------------------------------- Encabezado de la página  ---------------------------------------- -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <a href="http://localhost:8080/EvidenciaF/">
                <img src="Imagenes/Logo.png"
                 width="40"
                 height="40" 
                 alt=""/>
            </a>
            <pre> </pre>
            <h5 class="my-0 mr-md-auto font-weight-normal">
                CoffeLove
            </h5>
        </div>
        <!-- ---------------------------------------- -----------------------  ---------------------------------------- -->
    </head>
    
    <!-- ------------------------------------  Página  ------------------------------------ -->
    <form action="cuestionario" 
          method="post" 
          class="form-signin">
        <pre>
        </pre>
        <h1 class="h3 mb-3 font-weight-normal"
            style="color:#FFFFFF">
            Crear sesión
        </h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p style="color:#FFFFFF">
                        Nombres
                    </p>
                </div>
                <div class="col">
                    <p style="color:#FFFFFF">
                        Apellidos
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text"
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="nombres" 
                           class="form-control"
                           name="names"
                           required>
                </div>
                <div class="col">
                    <input type="text" 
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="apellidos" 
                           class="form-control"
                           name="surnames"
                           required>
                </div>
            </div>
        </div>
        <pre></pre>
        <p style="color:#FFFFFF">
            Ingresar correo
        </p>
        <input type="email" 
               style="max-width: 400px; padding: 15px; margin: auto;"
               id="correo" 
               class="form-control"
               name="email"
               required>
        <pre></pre>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p style="color:#FFFFFF">
                        Ingresar contraseña
                    </p>
                </div>
                <div class="col">
                    <p style="color:#FFFFFF">
                        Comprobación de contraseña
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="password" 
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="contrasenia1"
                           class="form-control"
                           name="password1"
                           required>
                </div>
                <div class="col">
                    <input type="password" 
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="contrasenia2" 
                           class="form-control"
                           name="password2"
                           required>
                </div>
            </div>
        </div>
        <pre></pre>
        <p style="color:#FFFFFF">
            Número de teléfono
        </p>
        <input type="number" 
               style="max-width: 400px; padding: 15px; margin: auto;"
               id="telefono" 
               class="form-control"
               name="phone"
               required>
        <pre></pre>
        <h4 style="color:#FFFFFF">
            Opcional
        </h4>
        <pre></pre>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p style="color:#FFFFFF">
                        Dirección 1
                    </p>
                </div>
                <div class="col">
                    <p style="color:#FFFFFF">
                        Dirección 2
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text"
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="direccion1" 
                           class="form-control"
                           name="address1">
                </div>
                <div class="col">
                    <input type="text" 
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="direccion2" 
                           class="form-control"
                           name="address2">
                </div>
            </div>
        </div>
        <pre></pre>
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="ciudades"
                           style="color:#FFFFFF">
                        Ciudad
                    </label>
                </div>
                <div class="col">
                    <p style="color:#FFFFFF">
                        Estado
                    </p>
                </div>
                <div class="col">
                    <p style="color:#FFFFFF">
                        Código postal
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <select id="ciudades"
                            style="max-width: 400px; margin: auto;"
                            class="form-control">
                        <option selected>
                            . . .
                        </option>
                        <option value="México">
                            México
                        </option>
                        <option value="Estados Unidos">
                            Estados Unidos
                        </option>
                    </select>
                </div>
                <div class="col">
                    <input type="text"
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="estado" 
                           class="form-control"
                           name="state">
                </div>
                <div class="col">
                    <input type="number" 
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="codigo_postal" 
                           class="form-control"
                           name="postal_code">
                </div>
            </div>
        </div>
        <pre></pre>
        <h5 style="color:#FFFFFF">
            Método de pago
        </h5>
        <pre></pre>
        <p style="color:#FFFFFF">
            Seleccionar el método de pago
        </p>
        <select id="metodo_pago"
                style="max-width: 400px; margin: auto;"
                class="form-control">
            <option selected>
                . . .
            </option>
            <option value="Tarjeta de crédito">
                Tarjeta de crédito
            </option>
            <option value="Tarjeta de débito">
                Tarjeta de débito
            </option>
        </select>
        <pre></pre>
        <p style="color:#FFFFFF">
            Ingresar el numero de la tarjeta
        </p>
        <input type="number"
               style="max-width: 400px; padding: 15px; margin: auto;"
               id="tarjeta_numero" 
               class="form-control"
               name="number_card">
        <pre></pre>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p style="color:#FFFFFF">
                        Fecha de expiración
                    </p>
                </div>
                <div class="col">
                    <p style="color:#FFFFFF">
                        CVV
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="date"
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="fecha_expiracion" 
                           class="form-control"
                           name="expiration_date">
                </div>
                <div class="col">
                    <input type="number" 
                           style="max-width: 400px; padding: 15px; margin: auto;"
                           id="Cvv" 
                           class="form-control"
                           name="CVV">
                </div>
            </div>
        </div>
        <pre>
        </pre>
        <button class="btn btn-lg btn-primary btn-block"
                style="max-width: 200px; padding: 8px; margin: auto;"
                id="crear_sesion"
                type="submit"
                href="http://localhost:8080/EvidenciaF/iniciar_sesion.html">
            Crear sesión
        </button>
        <p class="mt-5 mb-3 text-muted">
            &copy; 2020
        </p>
    </form>
    <!-- ------------------------------------  ------  ------------------------------------ -->
</body>