<body background="Imagenes/fondo1.jpg">
    <head>
        <title>
            CoffeLove
        </title>
        <!-- ---------------------------------------------------------  Bootstrap  -------------------------------------------------------- -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
        </script>
        <!-- ------------------- JS ------------------- -->
        <script src="JS/index.js" 
                type="text/javascript">
        </script>
        <!-- ------------------- -- ------------------- -->
        <meta http-equiv="Content-Type"
              content="text/html; charset=UTF-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" 
                integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" 
                crossorigin="anonymous">
        </script>
        <!-- ---------------------------------------------------------  ---------  -------------------------------------------------------- -->
        <!-- ------------------- CSS ------------------- -->
        <link href="CSS/boton_hamburguesa.css" 
              rel="stylesheet" 
              type="text/css"/>
        <!-- ------------------- --- ------------------- -->
        <!-- ---------------------------------------- Encabezado de la página  ---------------------------------------- -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <div class="dropdown dropdown2">
                <a href="#">
                    <img src="Imagenes/menu.jpg" 
                         width="40"
                         height="40" 
                         alt=""/>
                </a>
                <div class="dropdown-content">
                    <a href="http://localhost:8080/EvidenciaF/cafes.html">
                        Cafés
                    </a>
                    <pre></pre>
                    <a href="http://localhost:8080/EvidenciaF/cafeteras.html">
                        Cafeteras
                    </a>
                    <pre></pre>
                    <a href="http://localhost:8080/EvidenciaF/accesorios.html">
                        Accesorios
                    </a>
                </div>
            </div>
            <pre>   </pre>
            <a href="http://localhost:8080/EvidenciaF/">
                <img src="Imagenes/Logo.png"
                     width="40"
                     height="40" 
                     alt=""/>
            </a>
            <pre> </pre>
            <h5 class="my-0 mr-md-auto font-weight-normal">
                CoffeLove
            </h5>
            <pre>                                                 </pre>
            <input type="text"
                   style="max-width: 300px; padding: 2px; margin: auto;"
                   id="buscar"
                   name="search">
            <script>
                function Buscar() {
                    var buscar_producto = document.getElementById("buscar").value;
                    location.href = "http://localhost:8080/EvidenciaF/buscador.html?buscar="+buscar_producto;
                }
            </script>
            <button class="btn btn-primary" 
                    id="buscador"
                    aria-label="Search"
                    onclick="javascript:Buscar()">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20" 
                     height="20" 
                     fill="none" 
                     stroke="currentColor" 
                     stroke-linecap="round" 
                     stroke-linejoin="round" 
                     stroke-width="2" 
                     class="mx-3" 
                     role="img" 
                     viewBox="0 0 24 24" 
                     focusable="false">
                    <title>
                        Buscar
                    </title>
                    <circle cx="10.5" 
                            cy="10.5" 
                            r="7.5"/>
                    <path d="M21 21l-5.2-5.2"/>
                </svg>
            </button>
            <pre>                                      </pre>
            <a class="btn btn-primary"
               href="http://localhost:8080/EvidenciaF/carrito.html">
                <img src="Imagenes/carrito.png" 
                     width="20"
                     height="20"
                     alt=""/>
                <span class="badge badge-light">
                    <div id="itemsTotal1">
                    </div>
                </span>
                <span class="sr-only">
                    unread messages
                </span>
            </a>
            <pre> </pre>
            <a class="btn btn-outline-primary" 
               href="http://localhost:8080/EvidenciaF/iniciar_sesion.html">
                Iniciar sesión
            </a>
            <pre> </pre>
            <a class="btn btn-outline-primary" 
               href="http://localhost:8080/EvidenciaF/crear_sesion.html">
                Crear sesión
            </a>
        </div>
    </head>
    <!-- ------------------------------------  Página  ------------------------------------ -->
    <p> 
        <h3 class="text-center"
            style="color:#FFFFFF">
            Articulos más comprados
        </h3>
    </p>
    <pre></pre>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="producto1"></div>
            </div>
            <div class="col">
                <div id="producto2"></div>
            </div>
            <div class="col">
                <div id="producto3"></div>
            </div>
        </div>
        <pre></pre>
        <div class="row">
            <div class="col">
                <div id="producto4"></div>
            </div>
            <div class="col">
                <div id="producto5"></div>
            </div>
            <div class="col">
                <div id="producto6"></div>
            </div>
        </div>
        <pre></pre>
    </div>
    <pre></pre>
</body>