<body background="Imagenes/fondo4.jpg">
    <head>
        <title>
            CoffeLove - secion iniciada
        </title>
        <!-- ---------------------------------------------------------  Bootstrap  -------------------------------------------------------- -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
        </script>
        <!-- ------------------- JS ------------------- -->
        <script src="JS/secion_iniciada.js" 
                type="text/javascript">
        </script>
        <!-- ------------------- -- ------------------- -->
        <meta http-equiv="Content-Type"
              content="text/html; charset=UTF-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" 
                integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" 
                crossorigin="anonymous">
        </script>
        <!-- ---------------------------------------------------------  ---------  -------------------------------------------------------- -->
        <!-- ------------------- CSS ------------------- -->
        <!-- ------------------- --- ------------------- -->
        <!-- ---------------------------------------- Encabezado de la página  ---------------------------------------- -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <pre>   </pre>
            <a href="http://localhost:8080/EvidenciaF/">
                <img src="Imagenes/Logo.png"
                     width="40"
                     height="40" 
                     alt=""/>
            </a>
            <pre> </pre>
            <h5 class="my-0 mr-md-auto font-weight-normal">
                CoffeLove
            </h5>
            <div id="nombre"></div>
        </div>
    </head>
    <!-- ------------------------------------  Página  ------------------------------------ -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="pedidos"></div>
            </div>
        </div>
    </div>
</body>